/*@import url("http://bootswatch.com/simplex/bootstrap.min.css");*/

html {
    font-size: 0.9rem;
}

body{
    font-size: 0.8rem;
    background-color: #e1e1e8;
}
.table {
    /*table-layout: auto;*/
}

.table tr [contenteditable="true"] {
    background-color: powderblue;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
/*#voirfiche {*/
/*    target-new: tab ! important*/
/*}*/

.table td [contenteditable="true"] {
    background-color: powderblue;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.table tr td {
    padding: 0;
    height: 10px;
    margin: 0px;
}


.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    /*background-color: #D64292;*/
}

/*.table tr th {*/
/*    padding: 0;*/
/*    height: 30px;*/
/*    margin: 0px;*/
/*}*/



/*table.dataTable tr, table.dataTable  td {*/
/*    padding: 0px;*/
/*    height: 10px;*/
/*    margin: 0px;*/
/*}*/
table tr.selected td {
    background-color: cornflowerblue;
}


.table {
    margin-bottom: 0px;
}

.comments {
    overflow: hidden;
    text-overflow: ellipsis;

    /*height: 50px !important;*/
    /*width: auto;*/
    width: 60%;
    height: auto;
}

.commentsGab {
    overflow: hidden;
    text-overflow: ellipsis;
    /*height: 50px !important;*/
}

.valueNom {

}

.valueAdresse {

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 95%;
    height: 85%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.fade:not(.show) {
    opacity: 10;
}

.row {
    padding: 1px;
}


.colorFFFFC000 {
    background-color: #FFC000;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFF00B050{
    background-color: #00B050;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFF66CCFF{
    background-color: #66CCFF;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFFFFFF00{
    background-color: #FFFF00;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFFFFFF99{
    background-color: #FFFF99;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFF000000{
    background-color: #000000;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFF00FFFF{
    background-color: #00FFFF;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFFC5DEB5{
    background-color: #C5DEB5;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFF99FFCC{
    background-color: #99FFCC;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFFFFCCFF{
    background-color: #FFCCFF;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFF92D050{
    background-color: #92D050;
    padding: 0;
    height: 20px;
    margin: 0px;
}
.colorFFFFFFFF{
    background-color: #FFFFFF;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}

.colorFF7030A0{
    background-color: #7030A0;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}
.colorFFC5DEB5{
    background-color: #C5DEB5;
    padding: 0px 0px;
    height: 20px;
    margin: 0px;
}


.colorFFFFFF99{
    background-color: #FFFF99;
    padding: 0;
    height: 20px;
    margin: 0px;
}


/*.form-control {*/
/*    width: 30px !important;*/
/*}*/

#etabSimilaires tr td:nth-of-type(1) {
    width: 30px !important;
}

#etabSimilaires tr th:nth-of-type(1) {
    width: 30px !important;
}


#etabSimilaires tr td:nth-of-type(2) {
    width: 50px !important;
}
#etabSimilaires tr th:nth-of-type(2) {
    width: 10px !important;
}


#etabSimilaires tr td:nth-of-type(3) {
    width: 66px !important;
}
#etabSimilaires tr th:nth-of-type(3) {
    width: 50px !important;
}

#etabSimilaires tr td:nth-of-type(4) {
    width: 50px !important;
}
#etabSimilaires tr th:nth-of-type(4) {
    width: 50px !important;
}


/*clegab*/
#etabSimilaires tr td:nth-of-type(5) {
    width: 55px !important;
}
#etabSimilaires tr th:nth-of-type(5) {
    width:  65px !important;
}

/*cleremp*/
#etabSimilaires tr td:nth-of-type(6) {
    width: 67px !important;
}
#etabSimilaires tr th:nth-of-type(6) {
    width:  40px !important;
}


/*extrac*/
#etabSimilaires tr th:nth-of-type(7) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(7) {
    width: 55px !important;
}


/*prov1*/
#etabSimilaires tr th:nth-of-type(8) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(8) {
    width: 55px !important;
}


/*prov2*/
#etabSimilaires tr th:nth-of-type(9) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(9) {
    width: 55px !important;
}


/*groupe*/
#etabSimilaires tr th:nth-of-type(10) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(10) {
    width: 65px !important;
}


/*Reseau*/
#etabSimilaires tr th:nth-of-type(11) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(11) {
    width: 60px !important;
}


/*Enseigne*/
#etabSimilaires tr th:nth-of-type(12) {
    width:  150px !important;
}
#etabSimilaires tr td:nth-of-type(12) {
    width: 150px !important;
    word-wrap: break-word;
}



/*Numéro*/
#etabSimilaires tr th:nth-of-type(13) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(13) {
    width: 50px !important;
}


/*Type*/
#etabSimilaires tr th:nth-of-type(14) {
    width:  65px !important;
}
#etabSimilaires tr td:nth-of-type(14) {
    width: 55px !important;
    word-wrap:break-word; /*old browsers*/
    overflow-wrap:break-word;
}


/*Voie*/
#etabSimilaires tr th:nth-of-type(15) {
    width:  110px !important;
}
#etabSimilaires tr td:nth-of-type(15) {
    width: 100px !important;
    word-wrap: break-word;
}



/*Comp Voie*/
#etabSimilaires tr th:nth-of-type(16) {
    width:  100px !important;
}
#etabSimilaires tr td:nth-of-type(16) {
    width: 100px !important;
    word-wrap: break-word;
}


/*CP*/
#etabSimilaires tr th:nth-of-type(17) {
    width:  40px !important;
}
#etabSimilaires tr td:nth-of-type(17) {
    width: 50px !important;
}


/*Ville*/
#etabSimilaires tr th:nth-of-type(18) {
    width:  350px !important;
}
#etabSimilaires tr td:nth-of-type(18) {
    /*width: 110px !important;*/
}


table .collapse.in {
    display:table-row;
}

table .collapse {
    display:none;
}

.collapse-row.collapsed + tr {
    display: none;
}

.colGab {
    /*column-span: 18;*/
    /*width: 100%;*/
}

.rowGab td {
    /*column-span: 18;*/
}

/*table td.double {width:50%;}*/

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}


/*td.show-control {*/
/*    background: url('../img/voir.png') no-repeat center center;*/
/*    cursor: pointer;*/
/*}*/