@import "~bootstrap/scss/bootstrap";

header img.icon-set {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

table.table .icon-set {
  width: 30px;

  img {
    margin: 1px 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}