{% extends 'base.html.twig' %}

{% block title %}CollectionCard index{% endblock %}

{% block body %}
    <h1>CollectionCard index</h1>

    {# <table class="table"> #}
    {# <thead> #}
    {# <tr> #}
    {# <th>Id</th> #}
    {# <th>Code</th> #}
    {# <th>ReleaseDate</th> #}
    {# <th>Name</th> #}
    {# <th>Icon</th> #}
    {# <th>actions</th> #}
    {# </tr> #}
    {# </thead> #}
    {# <tbody> #}
    {% set i = 0 %}
    {% for collection_card in collection_cards %}
        {% set i = i+1 %}
        <div class="d-flex justify-content-center">

            <a class="col-3 card " href="{{ path('app_collection_card_show', {'id': collection_card.id}) }}"
               style="text-decoration: none; color: black">
                <h2 class="text-center">{{ collection_card.name }}</h2>
                <img src="{{ asset("cards/"~collection_card.code~".svg") }}">
            </a>
        </div>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

{% endblock %}
