{% extends 'base.html.twig' %}

{% block title %}New CollectionCard{% endblock %}

{% block body %}
    <h1>Create new CollectionCard</h1>

    {{ include('collection_card/_form.html.twig') }}

    <a href="{{ path('app_collection_card_index') }}">back to list</a>
{% endblock %}
