<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('/style.css') }}">
    </head>
    <body>
        <div class="link__home">
            <a href="{{ path('home') }}">Accueil</a>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
