<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta description -->
        <meta charset="UTF-8"/>
        <meta name="robots" content="noindex, nofollow" />
        <meta name="author" content="Thomas DUBUFFET" />

        <title>{% block title %}Magic{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <div class="navbar-brand d-flex align-items-center">
                        {% block header %}
                            <a href="{{ path('set_list') }}" class="navbar-brand d-flex align-items-center">
                                <strong>Magic</strong>
                            </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>

        {% block body %}
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <a href="{{ path('set_list') }}" role="button" class="btn btn-dark">
                        Go to list set
                    </a>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
