{% extends 'base.html.twig' %}

{% block body %}
<h1>Collections</h1>


    {% for collection in collections %}

        <p><a href="{{ path('cards.collection',{collection_id : collection.id} ) }}" >{{ collection.name }}</a></p>

    {% endfor %}



{% endblock %}



