{% extends 'base.html.twig' %}

{% block title %}Liste des collections{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ set.name }}</h1>
    {% for card in cards %}
        <a href="{{ path('card_show', {'id': card.id}) }}">
            <img src="../cards/{{ card.image }}" alt="{{ card.name }}" height="260px">
        </a>
    {% endfor %}
</div>
{% endblock %}
